<nav class="navbar navbar-expand-sm navbar-light bg-warning">
  <div class="container-fluid position-relative">
    <a class="navbar-brand" href="javascript:void(0)"
      ><img src="assets/noon-logo.png" alt="noon"
    /></a>
    <div class="position-absolute top-50 start-50 translate-middle">
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="text"
          placeholder="What are you looking for"
          style="width: 800px; border: none"
        />
      </form>
    </div>
    <ul class="navbar-nav position-absolute end-0">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">English</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Cart</a>
      </li>
    </ul>
  </div>
</nav>
